.header {
  background-color: black;
  width: 100vw;
}

.bigimg {
  position: absolute;
  width: 100px;
  height: 100%;
  top: 0px;
  left: 0px;
}

.big-div2 {
  max-width: 150px;
  width: 17vw;
  min-width: 90px;
}