
.h1 {
  font-weight: 600;
  color: rgba(82, 6, 49, 0.712);
}

.TabList {
  cursor: pointer;
  font-weight: 500;
  display: inline-flex;
  width: fit-content;
}

.react-tabs__tab {
  border: none;
}

.react-tabs__tab--selected {
  border-bottom: 2px solid red;
  color: darkslateblue;
  background-color: #fbfbfb;
}
.tabline {
  border: solid 2px #d2d9e6;
  width: 100%;
}
.btn {
  width: fit-content;
  float: right;
}

