
.filter-header {
  background-color: #eb2929;
  padding: 15px ;
}

.filter-logo-div {
  display: inline;
  background-color: white;
  border-radius: 50%;
  color: #eb2929;
  font-weight: 800;
  font-size: 33px;
  padding: 1px 10px 4px;
}

.filter-section {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
}
.result-section {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
}
.thumb {
  border-radius: 10px;
  width: 140px;
  height: 120px;
}
.line-break {
  border: 1px solid #dedfe5;
}
.page {
  text-decoration: none;
}